@model ShopItem

<h2>Edit</h2>

@using(Html.BeginForm("Edit", "Shop", FormMethod.Post))
{@*
    @Html.LabelFor(a => a.Name)
    @Html.TextBoxFor(a => a.Name)

    @Html.LabelFor(a => a.ShopName)
    @Html.TextBoxFor(a => a.ShopName)

    @Html.LabelFor(a => a.ExpiryDate)
    @Html.TextBoxFor(a => a.ExpiryDate)
        
    <input type="submit" value="Submit"/>*@
    
    <div class="row bg-secondary bg-gradient p-2 text-white bg-opacity-25">
        <div class="col">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="col">
            <label asp-for="ShopName"></label>
            <input asp-for="ShopName" class="form-control">
        </div>
        <div class="col">
            <label asp-for="ExpiryDate"></label>
            <input asp-for="ExpiryDate" class="form-control">
        </div>
        <div class="col-12" style="margin-top: 20px;">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    
}