@model List<ShopItem>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Shop name</th>
      <th scope="col">Expiry date</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
      @foreach (var item in @Model)
        {
        <tr>
          <th scope="row"></th>
          <td>@item.Name</td>
          <td>@item.ShopName</td>
          <td>@item.ExpiryDate</td>
          <td>@Html.ActionLink("Remove", "Delete", "Shop", new { Name = @item.Name})</td>
          <td>@Html.ActionLink("Edit", "Edit", "Shop", new { Name = @item.Name})</td>
        </tr>
        }
    
    
  </tbody>
</table>